extends layout

block content
  h1= title
  
  table.table#collections
    - each collection in collections
      if collection.collectionName.indexOf('production') != -1
        tr.database
          td.name= collection.collectionName
          td.link
            a(href='/graph/'+database_name+'/'+collection.collectionName) Graph

