extends layout

block content
  h1= title

  div#today_chart_container
    div#today_y_axis
    div#today_chart

  div#week_chart_container
    div#week_y_axis
    div#week_chart

  div#month_chart_container
    div#month_y_axis
    div#month_chart

  script(type='text/javascript').
    var today_data =!{JSON.stringify(values)};
    var week_data =!{JSON.stringify(week_values)};
    var month_data =!{JSON.stringify(month_values)};
    show_graphs(today_data, 'today_');
    show_graphs(week_data, 'week_');
    show_graphs(month_data, 'month_');
