extends layout

block content
  h1= title

  div#chart_container
    div#y_axis
    div#chart

  script(type='text/javascript').
    var data =!{JSON.stringify(values)};
    if (data.length == 0) {
      alert('NO hay resultados');
    } else {
      var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 580,
          height: 250,
          series: [ {
                color: 'steelblue',
                data: data
          } ]
      } );
      var axes = new Rickshaw.Graph.Axis.Time( { graph: graph } );
      var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
      } );
      graph.render();
    }
