extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #databases
    - each database in databases
      div.database
        div.name= database.name
    a(href='/collections/choose_database')!= Add new Database