extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #databases
    if databases_count > 0
      - each database in databases
        div.database
          div.name= database.name
  a(href='/collections/choose_database') Add new Database
